IndividualMiniprojectC++/.vscode/
IndividualMiniprojectC++/external_libraries/boost
IndividualMiniprojectC++/external_libraries/crow
IndividualMiniprojectC++/build/*
!IndividualMiniprojectC++/build/README.txt
!IndividualMiniprojectC++/external_libraries/README.txt
IndividualMiniprojectC++/external_libraries/.DS_Store
IndividualMiniprojectC++/.DS_Store
.DS_Store